
<mat-card >
  <form [formGroup]="employee" (ngSubmit)="onSubmit()">

    <div formGroupName="name" fxLayout="column" fxLayoutAlign="Start center" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>First Name(Required)*</mat-label>
        <input matInput formControlName="firstName">
        <mat-error>First name is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFill>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="Start center" fxLayoutGap="10px" fxFill>
      <div fxFlex=50% fxLayoutGap="10px" fxFill> 
      <label id="gender">Gender</label>
      <mat-radio-group aria-label="Select an option" formControlName="gender" fxLayoutGap="5%">
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
      <mat-form-field appearance="outline" fxFlex="50" fxFill>
        <mat-label>Choose D.o.b (Required)*</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" (click)="picker.open()" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>Dob is required.</mat-error>
      </mat-form-field>
    </div>


    <div formGroupName="address" fxLayout="column" fxLayoutAlign="Start center" fxLayoutGap="10px">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>Home No, Buildig Name (Required)*</mat-label>
        <input matInput formControlName="lineOne">
        <mat-error>H.no is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFill>
        <mat-label>Road name, Area, Colony (Required)*</mat-label>
        <input matInput formControlName="lineTwo">
        <mat-error>Road name is required.</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="Start center" fxLayoutGap="10px" fxFill>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>City (Required)*</mat-label>
          <input matInput formControlName="city">
          <mat-error>City is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>State (Required)*</mat-label>
          <input matInput formControlName="state">
          <mat-error>State is required.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="Start center" fxLayoutGap="10px" fxFill>
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Pincode (Required)*</mat-label>
          <input matInput formControlName="pincode" appNumberOnly>
          <mat-error>Pincode is required.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFLex="50">
          <mat-label>LandMark</mat-label>
          <input matInput formControlName="landMark">
        </mat-form-field>
      </div>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="Start center" fxLayoutGap="10px" fxFill> -->
    <mat-form-field appearance="outline" fxFill>
      <mat-label>Email (Required)*</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="!employee.controls['email'].valid && employee.controls['email'].errors['required']">Email is required.</mat-error>
      <mat-error *ngIf="!employee.controls['email'].valid && employee.controls['email'].errors['email']">Email is Invalid.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" fxFill>
      <mat-label>Mobile Number (Required)*</mat-label>
      <input matInput formControlName="phone" appNumberOnly>
      <mat-error *ngIf="!employee.controls['phone'].valid && employee.controls['phone'].errors['required']">Mobile NUmber is required</mat-error>
      <mat-error *ngIf="!employee.controls['phone'].valid && ( employee.controls['phone'].errors['minlength'] || employee.controls['phone'].errors['maxlength']) ">Mobile Number is Invalid</mat-error>
    </mat-form-field>
    <!-- </div> -->
    <button mat-raised-button color="primary" type="submit" [disabled]="!employee.valid"
      *ngIf="displaySubmit == true">Submit</button>
  </form>
</mat-card>