table {
    width: 100%;
    height: 100%;
  }
  
   .mat-column-name{
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 28% !important;
     width: 20% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-email {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 25% !important;
     width: 25% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-address {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 17% !important;
     width: 20% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-phoneNo {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 8% !important;
     width: 20% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-Action {
     text-align: center;
   }

   .centeredAction{
     text-align: center;
   }

   .cdk-overlay-pane {
    max-width: 100vw !important;
  }
   