<div fxHide.xs>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- serialNo -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

  <!-- name  -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" > <span *ngIf="element.name != undefined">{{element.name['firstName'] | titlecase}} {{element.name['lastName'] |
      titlecase}} </span></td>
  </ng-container>

  <!-- address -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> <span *ngIf="element.address != undefined">{{element.address['lineOne']}}
      {{element.address['lineTwo']}} {{element.address['landmark']}}
      {{element.address['city']}}
      {{element.address['state']}} - 
      {{element.address['pincode']}}
    </span>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone # </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element let i=index">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <button mat-icon-button color="primary" aria-label="Example icon button with menu icon"
          (click)="displayEmployee(element.id, 'display')">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a edit icon"
          (click)="displayEmployee(element.id, 'edit')">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon"
          (click)="deleteEmploye(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="15"
              aria-label="Select page">
</mat-paginator>
</div>



<!-- for mobile devices -->
<div fxLayout="column" fxLayoutAlign="space-around stretch" fxHide fxShow.xs fxLayoutGap="5px">
  <div *ngFor="let element of dataSource">
    <mat-card >
      <mat-card-title *ngIf="element.name != undefined">
        {{element.name['firstName'] | titlecase }} {{element.name['lastName'] | titlecase}}
      </mat-card-title>
      <mat-card-subtitle fxLayout="row" fxFill>
        <div fxFlex="30">
          Gender: {{element.gender | titlecase }}
        </div>
        <div FxFlex="70">
          Date of Birth : {{element.dob | date}}
        </div>
      </mat-card-subtitle>
        <mat-card-content fxLayout="column" fxFill *ngIf="element.address != undefined">
        <span>
          Address:
        </span>
        <span>
          {{element.address['lineOne']}}
        </span>
        <span>
          {{element.address['lineTwo']}} {{element.address['landmark']}}
        </span>
        <span>
          {{element.address['city']}}
          {{element.address['state']}} -
        </span>
        <span>
          {{element.address['pincode']}}
        </span>
      </mat-card-content>
      <mat-card-actions fxFill>
        <span fxFlex="30"> 
        <a mat-icon-button color="primary" aria-label="Example icon button with menu icon" (click)="displayEmployeeMobile(element.id,'display')">
          <mat-icon>menu</mat-icon>
        </a>
      </span>
      <span fxFlex="30">
        <a mat-icon-button color="primary" aria-label="Example icon button with a edit icon" routerLink="/users/{{element.id}}/edit">
          <mat-icon>edit</mat-icon>
      </a>
    </span>
    <span fxFlex="30">
        <a mat-icon-button color="warn" aria-label="Example icon button with a delete icon" (click)="deleteEmploye(element.id)">
          <mat-icon>delete</mat-icon>
      </a>
    </span>
      </mat-card-actions>
    </mat-card>
  </div>
</div>  